<div class="container">
	<div class="row">
		<div class="col-12">
			<button
			    class="btn btn-primary"
			    (click)="imageTestClick()">
			    <img src="assets/tiles_img/{{ selectedTile.image }}"
			    [class.rotate90] = "selectedTileRotation === 90"
			    [class.rotate180] = "selectedTileRotation === 180"
			    [class.rotate270] = "selectedTileRotation === 270">
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<button (click) = "onRotateTile(270)" class="btn btn-primary">Obróć w lewo o 90 st.</button>
			
			<button (click) = "onRotateTile(180)" class="btn btn-primary">Obróć o 180 st.</button>

			<button (click) = "onRotateTile(90)" class="btn btn-primary">Obróć w prawo o 90 st.</button>
			
		</div>
	</div>
</div>

<!-- [ngStyle]="{transform: true ? 'rotate(90deg)' : 'rotate(45deg)'}" -->



