table{
	table-layout: fixed;
}

.boardLine{}

.boardBox{
	width: 100px;
	height: 100px;
}

.active{ background-color: #CCC; }
.inactive{ background-color: #FFF; }
.occupied{ background-color: green }

