<table>
	<tr 
	class="boardLine" 
	*ngFor = "let boardLine of board">
		<td
		*ngFor = "let boardBox of boardLine" 
		class="boardBox" 
		[class.active] = "boardBox.active"
		[class.inActive] = "!boardBox.active"
		[class.occupied] = "boardBox.occupied"
		(click) = "tileClicked(boardBox)" >
			{{boardBox.boardRow}} - {{boardBox.statusActive}}
		</td>
	</tr>
</table>

<!-- [ngStyle]="{backgroundColor: boardBox.statusActive ? boardBox.color : '#ccc'}" -->
<!-- [ngClass] = "{active: boardBox.active}" -->
