table{
	table-layout: fixed;
}

.boardBox{
	width: 100px;
	height: 100px;
}

.active{ background-color: #CCC; }
.inactive{ background-color: #FFF; }
.occupied{ background-color: green }

img{
	width: 100px;
	height: 100px;
	z-index: 1;
}

.rotate90{
	transform: rotate(90deg);
}

.rotate180{
	transform: rotate(180deg);
}

.rotate270{
	transform: rotate(270deg);
}

p{
	z-index: 2; 
	position: absolute;
	background-color: rgba(256,256,256,0.5);
}